.occupation-wrap {
  width: 100%;
}
.occupation-content {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  h2 {
    position: relative;
    z-index: 1;
    margin-top: 138px;
    font-size: 60px;
    font-family: Helvetica-Bold, Helvetica;
    font-weight: bold;
    color: #000000;
    line-height: 72px;
    margin-bottom: 20px;
  }
  p {
    position: relative;
    z-index: 1;
    width: 403px;
    color: #8c909c;
    line-height: 35px;
    margin: 0;
  }
  .occupation-bg {
    position: absolute;
    width: 772px;
    height: 579px;
    right: -85px;
    top: 50%;
    transform: translateY(-50%);
  }
}
