.home-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &-left {
    h1 {
      font-size: 50px;
      font-weight: 600;
      color: #000;
      font-family: Helvetica Bold;
    }
    &-text {
      font-size: 16px;
      color: #8c909c;
      font-family: Helvetica;
      width: 491px;
      line-height: 35px;
    }
  }
  &-right {
    img {
      width: 294px;
      height: 300px;
    }
  }
}
