.sophon-header {
  position: fixed;
  top: 0;
  left: 0;
  height: 104px;
  width: 100%;
  &-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid rgba(140, 144, 156, 0.3);
    height: 104px;
    &-logo {
      img {
        width: 219px;
        height: 33px;
      }
      cursor: pointer;
    }
    &-navgate {
      width: 45%;
      color: #000;
      display: flex;
      justify-content: space-between;
      font-size: 18px;
      a {
        color: #000;
      }
      span {
        display: inline-block;
      }
    }
  }
}
